PORT=4310
CORS_ORIGIN=http://localhost:5173,http://localhost:5174
DATABASE_URL=postgresql://root:root@localhost:5437/hatohui
REDIS_URL=redis://localhost:6479

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
SESSION_JWT_SECRET=
SESSION_COOKIE_DOMAIN=

R2_BUCKET_NAME=hatohui-dev
R2_ENDPOINT=http://localhost:9010
R2_PUBLIC_URL=http://localhost:9010/hatohui-dev
R2_ACCESS_KEY_ID=root
R2_SECRET_ACCESS_KEY=rootroot

EMAIL_API_KEY=
